



`<div class="main-content">
    <div class="container-fluid" >
          <app-table-extended-simple [dataColum]="dataColum" [dataHead]="datahead" >
                <ng-container *cardItem="let item">
                    {{item.title}}
                </ng-container>
                <ng-container *dataColumItem="let row">

                    <td class="">{{row.ID}}</td>
                    <td class="">{{row.nombre}}</td>
                    <td class="">{{row.descripcion}}</td>
                    <td class="">{{row.fecha}}</td>
                    <td class="text-right">
                        <img src="{{ 'https://www.juanschtrefotografo.com/'+ row.imgcaratula}}"
                            alt>
                    </td>
                </ng-container>

          </app-table-extended-simple>

    </div>
  </div>
